body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 36px;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

main{
   max-width: 1140px;
   margin: 0 auto; 
   background-color: #FFF;
}

header {

    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, top left;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 220px;

}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

span {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.banner {
    display: flex;
    align-items: center;
    padding: 0px 39px 0 150px;
    justify-content: space-between;
}

.banner-content{
    text-align: left;
}

.banner-greet{
    color: var(--dark-02, #474747);
font-size: 45px;
font-weight: 600;
margin-bottom: 0;
}

.banner-title{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-description{
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary-1{
    color: #FD6E0A;
text-align: center;
font-size: 20px;
font-weight: 700;
padding: 19px 30px 19px 58px;
border-radius: 5px;
border: 1px solid #FD6E0A;
}

/* about me  */

.about-me{
    text-align: center;
    background-color: #FFF8F3;
    margin-top: 116px;
    /* margin: 116px 204px 0 256px; */
}

.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
margin-bottom: 30px;
padding-top: 144px;
}

.section-paragraph{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 170px 0 143px;
    margin-bottom: 30px;

}
.about-me-info{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 78px;
}

.info-title{
    color: var(--dark-03, #757575);
text-align: center;
font-size: 20px;
font-weight: 400;
margin-bottom: 0;
}

.info-description{
    color: var(--dark-02, #474747);
font-size: 20px;
font-weight: 700;
margin-top: 10px;
}

.about-skill{
    display: flex;
    margin-top: 50px;
    gap: 24px;

}

.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title{
    color: var(--dark-01, #181818);
/* text-align: center; */
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
padding-left: 30px;

}

.skill-description{
    color: var(--dark-03, #757575);
font-size: 16px;
font-weight: 400;
padding: 30px;
}

.skill-img{
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.what-i-do{
    margin-bottom: 130px;
}

.resume-container{
    display: flex;
    gap: 50px;
    margin-top: 113px;
}

.resume-column-title{
    color: var(--dark-02, #474747);
font-size: 30px;
font-weight: 700;
margin-bottom: 30px;
}

.resume-title{
    color: var(--dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
}

.resume-subtitle{
    color: var(--dark-03, #757575);
font-size: 20px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 20px;
}

.resume-description{
    color: var(--dark-03, #757575);
font-size: 16px;
font-weight: 400;
}
.CV{
   text-align: center;
   margin-top: 50px;
}

footer{
    display: flex;
    margin-top: 131px;
    background-color: #FFF8F3 ;
}

.column{
    padding: 130px 230px 0 130px;
}

.footer-title{
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-paragraph{
    color: var(--dark-02, #474747);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.social-link img{
    margin-right: 24px;
}

.form input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border-radius: 5px;
background: var(--white-color, #FFF);
padding: 18px 35px;
color: var(--dark-03, #757575);
font-size: 16px;
font-weight: 400;
border: 0;
width: 100%;
}
#lv{
    margin-bottom: 130px;
}